.cover {
  width: 100%;
}

.cover__item {
  min-height: 748px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.cover__item:before {
  content: '';
  position: absolute;
  background-color: crimson;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: .3s;
}

.cover__item:hover:before {
  opacity: 0.8;
}